
element.style {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span {
    display: block;
    text-align: -webkit-center;
    unicode-bidi: isolate;
}

